<div>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let trajet"> {{trajet.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="arret">
      <mat-header-cell *matHeaderCellDef> Arret </mat-header-cell>
      <mat-cell *matCellDef="let trajet"> {{trajet.arret}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="prochainArret">
      <mat-header-cell *matHeaderCellDef> ProchainArret </mat-header-cell>
      <mat-cell *matCellDef="let trajet"> {{trajet.prochainArret}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
